<div class="w-full">

<% if current_admin %>
<!-- "Back to Admin Dashboard" button at the top -->
<div class="flex justify-end mb-4">
  <%= link_to "Back to Admin Dashboard", admin_path, class: "rounded-lg py-2 px-4 bg-blue-600 text-white font-medium hover:bg-blue-700" %>
</div>
<% end %>


  <% if flash[:notice].present? %>
    <p class="py-2 px-3 bg-yellow-100 mb-5 text-yellow-500 font-medium rounded-lg inline-block" id="notice"><%= flash[:notice] %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <h1 class="text-5xl font-bold text-center font-miroles">Brandy ville</h1>


  <div id="products" class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @products.each do |product| %>
      <%= render product %>
    
    <% end %>
  </div>

  <%= link_to "Shop by category", categories_path, class: "rounded-lg h-64 w-full bg-gray-200 text-2xl font-bold p-2" %>
</div>

